html, body {
	width: 100%;
	height: 100%;
	background-color: #ebd0ff;
}

#map-wrapper {
	height: 400px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
}

#map {
	height: 100%;
	width: 100%;
	border: 1px solid #000;
	margin: 15px 15px 15px 15px;
}

/*Drop Down Nav Bar*/
#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #d0ffd4;
	border-bottom: 1px solid #ccc;  }
#nav ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0; 
	}
#nav li {
	float: left; 
	}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border: 3px solid #069;
	border-radius: 3px; 
	padding: 15px;
	margin: -1px;
	background-color: #fcffd0;
}
#nav li:first-child a {
	/*border-left: 1px solid #ccc;*/ 
}
#nav li a:hover {
	color: #c00;
	background-color: #fff; }