<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <script src="{{request.static_url('foodie:static/js/jquery-2.1.3.min.js')}}"></script>
    <script src="{{request.static_url('foodie:static/js/actionHandler.js')}}"></script>
    <link rel="stylesheet" href="{{request.static_url('foodie:static/css/style.css')}}" />

    <link rel="stylesheet" href="{{request.static_url('foodie:static/css/stub.css')}}" />
    <script src="{{request.static_url('foodie:static/js/stub.js')}}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key={{gmapAPIkey}}&callback=initMap">
    </script>

    <title>KML Layers</title>
  </head>
  <body>

    <div id="stub">I am a stub</div>
    <div id="map"></div>
    
  </body>
</html>